.screen{
    width: 100%;
    padding: 2rem 20vw;
    background-color: rgb(7, 7, 7);
}
.screen-form{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0.5rem;
    background-color: rgb(21, 0, 39);
    padding: 1rem 2rem;
}
.screen-form :focus{
    outline: none;
}
label{
    color: white;
}

.books-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 0.5rem 1;
}
.book-card{
    min-height: 100px;
    background-color: rgb(0, 1, 40);
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.card-info{
    color: white;
    font-size: 0.8rem;
    line-height: 20px;
}